@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

/* Theme variables */
@theme {
  --font-display: "Poppins", sans-serif;
  --breakpoint-3xl: 1920;
  --color-primary: #1368EC;
}

/* Base styles */
@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

/* Input box */
.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100/50 rounded px-4 py-3 mt-3 mb-4 border border-slate-300 outline-none;
}

/* Primary button */
.btn-primary {
  @apply w-full text-sm font-medium shadow-lg shadow-purple-600/5 px-4 py-2 rounded-md my-1 bg-primary hover:bg-blue-600/15 hover:text-blue-600 cursor-pointer;
}

/* Card */
.card {
  @apply bg-white p-6 text-black shadow-md shadow-gray-100 border border-gray-200/50 rounded-xl;
}

/* Card button */
.card-btn {
  @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:text-primary bg-gray-50 hover:bg-blue-50 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer ;
}

.form-card{
  @apply bg-white p-6 rounded-lg shadow-md shadow-gray-100 border-gray-200/50
}

.form-input{
    @apply w-full text-sm text-black outline-none bg-white border  border-slate-100 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500
}


.card-btn-fill{
@apply flex items-center gap-3 text-xs font-medium text-white bg-blue-600 hover:bg-gray-50 hover:text-blue-600 px-4 py-2 rounded-lg border border-gray-200 transition-all shadow-sm hover:shadow-md cursor-pointer;
}